@model MVC_DAY2.Models.Department

<br />

<div class="d-flex justify-content-center">
    <h2 class="text-success">Edit Department</h2>
</div>

<br />
<hr />
<br />

<form action="~/Department/Edit" method="post">

    @* <div class="form-group">
        <label for="DeptId" class="form-label">Department Id</label>
        <input type="number" name="DeptId" class="form-control" value="@Model.DeptId" disabled/>
    </div> *@

    <div class="form-group">
        <input type="number" name="DeptId" class="form-control" value="@Model.DeptId" hidden />
    </div>

    <div class="form-group">
        <label for="DeptName" class="form-label">Department Name</label>
        <input type="text" name="DeptName" class="form-control" value="@Model.DeptName" />
    </div>

    <div class="d-flex justify-content-center gap-3 my-5">
        <input type="submit" value="Edit Department" class="btn btn-success" />
        <a href="~/Department/Index" class="btn btn-secondary">Cancel</a>
    </div>

</form>